<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cheat_Name.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <Cheat_Name.My.MySettings>
      <setting name="ESPcolorEnemyVis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ESPcolorEnemyVisB" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ESPcolorEnemyVisG" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ESPcolorEnemyVisR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmoothRifles" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmoothSnipers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmoothPistols" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FovRifles" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FovSnipers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FovPistols" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AK47" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="M4A1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="M4A1S" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Galil" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Aug" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sg350" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Famas" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Awp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Scout" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tecott" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tecoct" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Xms" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bizon" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tec9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Deagle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Glock" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Usp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Revolver" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Cz" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="P250" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FiveSeven" serializeAs="String">
        <value>0</value>
      </setting>
    </Cheat_Name.My.MySettings>
  </userSettings>
</configuration>
